<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>750FF534-3D1D-43F1-B99C-34622C166765</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC591DD2-CBFF-4B5F-9976-3EDE16E4CBB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FC591DD2-CBFF-4B5F-9976-3EDE16E4CBB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32C1C96E-B0D4-4000-A23C-0A1805188407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vladimir Yarotsky</string>
	<key>description</key>
	<string>Retrieves passowrd from keychain by name. Erases it from clipboard in 10 seconds.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Keychain</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>32C1C96E-B0D4-4000-A23C-0A1805188407</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>pwd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
                                <string>chmod +x ./alfredkeychain &amp;&amp; ./alfredkeychain "{query}"</string>
				<key>title</key>
				<string>service</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>750FF534-3D1D-43F1-B99C-34622C166765</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
echo "$query" | bash ./fetch_password.sh
code=$?
if [ $code -eq 1 ]; then
  echo "Keychain item $query not found"
elif [ $code -ne 0 ]; then
  echo "Failed to retrieve keychain item for $query"
fi
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC591DD2-CBFF-4B5F-9976-3EDE16E4CBB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>32C1C96E-B0D4-4000-A23C-0A1805188407</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>750FF534-3D1D-43F1-B99C-34622C166765</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC591DD2-CBFF-4B5F-9976-3EDE16E4CBB2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
